<ul class="nav flex-column pt-2">
    <li class="nav-item align-items-center fs-6">
        <a class="nav-link active" aria-current="page" href="#" routerLink="home"><i
                class="ri-home-2-line pe-2"></i> <span>Home</span> </a>
    </li>
    <li class="nav-item fs-6">
        <a class="nav-link" href="#" routerLink="../upload-file"><i
                class="ri-file-upload-line pe-2"></i><span>File-upload</span></a>
    </li>
    <li class="nav-item fs-6">
        <a class="nav-link" href="#" routerLink="../books"><i
                class="ri-file-upload-line pe-2"></i><span>Books</span></a>
    </li>
</ul>