<div class="d-flex justify-content-between">
    <div>
        <button class="btn btn-primary m-2 m-md-3 text-nowrap text-truncate " routerLink="../form">Add</button>
        <button class="btn btn-primary m-2 m-md-3 text-nowrap text-truncate" routerLink="../custom-list">Custom-List</button>
        <button class="btn btn-primary m-2 m-md-3 text-nowrap text-truncate" routerLink="../material-list">Material List</button>
        <button class="btn btn-primary m-2 m-md-3 text-nowrap text-truncate" routerLink="../mvp-list">MVP Material List</button>
    </div>
    <button class="btn btn-primary m-2 m-md-3 text-nowrap text-truncate" (click)="isNotAuthenticate()">Logout</button>
</div>
<router-outlet></router-outlet>